<div x-data="home()" x-cloak class="grid-12">
    <div class="grid-12 p-5 bg-dark-primary text-light-primary">
        <div class="text-center logo font-xxl m-b-5">
            <h1>Welcome to OrnateCSS!</h1>
            <h5 class="font-lg">
                May your code be clean, and your designs be ornate
            </h5>
        </div>
    </div>
    <div class="grid-12 place-x-center w-75p m-y-5">
        <p class="lg:m-r-3">
            Highly inspired by other frameworks like Tailwind css, and Bulma; Ornate CSS and built using
            <a href="https://gaudiamus-css.github.io/"
               class="hover:text-dark-accent text-accent">
                Gaudiamus
            </a>
            allows developers and designers to accomplish complicated web designs while you're writing your HTML.
            Whether you want to design using Ornate CSS' out-of-the-box solutions, or expand the utilities to fit
            your projects, Ornate empowers your decision while remaining light and non-invasive.
        </p>
        <div class="grid-6-6 bg-dark-primary b-rounded">
            <a href="https://www.npmjs.com/package/ornate_css"
               class="m-4 p-2 bg-light-primary text-primary b-rounded text-center">
                Visit NPM
            </a>
            <a href="https://github.com/digitalvillainy/ornate"
               class="m-4 p-2 bg-light-primary text-primary b-rounded text-center">
                Visit GitHub
            </a>
        </div>
        <div class="text-left box-low-gray m-y-3">
            <!--TODO: Set up links to GITHUB and NPMJS-->
            

            <h5 class="font-lg text-center logo p-b-2">
                Installation
            </h5>
            <div class="font-default">
                <div class="grid-12">
                    <span>Via NPM</span>
                    <ul class="grid-10-2 text-warning bg-black p-l-2 b-rounded">
                        <li class="place-y-center" x-text="[status]"></li>
                        <li title="copy to clipboard"
                            @click="copyNpm"
                            class="cursor-pointer text-center p-1 b-rounded text-success
                           hover:bg-dark-success hover:text-light-success">
                            COPY
                        </li>
                    </ul>
                    <span class="m-y-2">
                        or use the CDN link below:
                    </span>
                </div>
                <div class="grid-10-2 text-warning bg-black p-l-2 b-rounded">
                    <span class="truncate place-y-center" x-text="[link]"></span>
                    <span title="copy to clipboard"
                          @click="copyLink"
                          class="cursor-pointer text-center p-1 b-rounded text-success
                                hover:bg-dark-success hover:text-light-success">
                        COPY
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    function home() {
        return {
            status: 'npm i ornate_css',
            link: 'https://cdn.jsdelivr.net/npm/ornate_css@0.2.1/ornate.min.css',
            async copyNpm() {
                try {
                    await navigator.clipboard.writeText(this.status);
                    this.status = 'Copied to Clipboard!';
                    this.timedMsg('npm');
                } catch (e) {
                    this.status = 'failed to copy!';
                    this.timedMsg('npm');
                }
            },
            async copyLink() {
                try {
                    await navigator.clipboard.writeText(this.link);
                    this.link = 'Copied to Clipboard!';
                    this.timedMsg('link');
                } catch (e) {
                    this.link = 'failed to copy!';
                    this.timedMsg('link');
                }
            },
            timedMsg(type) {
                if (type === 'npm') {
                    setTimeout(() => {
                        this.status = 'npm i ornate_css';
                    }, 3000);
                } else if (type === 'link') {
                    setTimeout(() => {
                        this.link = "https://cdn.jsdelivr.net/npm/ornate_css@0.2.1/ornate.min.css";
                    }, 3000);
                }
            }
        }
    }
</script>